<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chat area</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<h2>Chat box <%= name %> </h2>
	<h4>Send this link to your friends to invite them<br>
		<a href="https://remote-tic-tac-toe.herokuapp.com/chat/<%= room %>">https://remote-tic-tac-toe.herokuapp.com/chat/<%= room %></a></h4>
	<div class="msg-area"></div>
	<input type="text" name="msg">
	<button>Send</button>

	<script type="text/javascript">
		let socket = io();

		var initmsg = '{"room": "<%= room %>"}';
		socket.emit('init', initmsg);
		socket.on('<%= room %>', function (data) {
			console.log(data);
			var j = JSON.parse(data);
			$('.msg-area').append('<p><strong>' + j.sender + '</strong>: ' + j.msg + '</p>');
		});
		$('button').click(function (e) {
			var m = '{"sender": "<%= name %>", "msg": "' + $('input').val() + '"}';
			var j = JSON.parse(m);
			$('.msg-area').append('<p><strong>' + j.sender + '</strong>: ' + j.msg + '</p>');
			socket.emit('<%= room %>', m);
		});
	</script>

</body>
</html>